<header>
  <nav>
    <a class="brand" href="/"><span>Exegete</span></a>
    <section>
      <a
        href="https://twitter.com/exegeteio"
        target="_blank"
        title="Exegete on Twitter"
        ><i class="nes-icon twitter"></i
      ></a>
      <a
        href="https://github.com/exegeteio"
        target="_blank"
        title="Exegete on Github"
        ><i class="nes-icon github"></i
      ></a>
      <a
        href="https://twitch.tv/exegeteio"
        target="_blank"
        title="Exegete on Twitch"
        ><i class="nes-icon twitch"></i
      ></a>
    </section>
  </nav>
</header>
