<header>
  <nav>
    <a class="brand" href="/" alt="Exegete.IO home page"
      ><span>Exegete</span></a
    >
    <section class="nav">
      <a
        class="blog"
        href="https://world.hey.com/exegete/"
        alt="Exegete.IO blog on HEY World"
        ><span>Blog</span></a
      >
    </section>
    <section class="socials">
      <a
        href="https://twitter.com/exegeteio"
        target="_blank"
        title="Exegete on Twitter"
        rel="noopener"
        ><i class="nes-icon twitter"></i
      ></a>
      <a
        href="https://github.com/exegeteio"
        target="_blank"
        title="Exegete on Github"
        rel="noopener"
        ><i class="nes-icon github"></i
      ></a>
      <a
        href="https://twitch.tv/exegeteio"
        target="_blank"
        title="Exegete on Twitch"
        rel="noopener"
        ><i class="nes-icon twitch"></i
      ></a>
    </section>
  </nav>
</header>
