pre code .hll {
  background-color: #222222;
}
pre.highlight, pre code {
  background: #000000;
  color: #cccccc;
}
pre code .c {
  color: #68678c;
} /* Comment */
pre code .err {
  color: #cccccc;
  border: 1px solid #ff0000;
} /* Error */
pre code .esc {
  color: #cccccc;
} /* Escape */
pre code .g {
  color: #cccccc;
} /* Generic */
pre code .k {
  color: #ff009b;
} /* Keyword */
pre code .l {
  color: #cccccc;
} /* Literal */
pre code .n {
  color: #b3b2d7;
} /* Name */
pre code .o {
  color: #3399cc;
} /* Operator */
pre code .x {
  color: #cccccc;
} /* Other */
pre code .p {
  color: #f0cb00;
} /* Punctuation */
pre code .ch {
  color: #68678c;
} /* Comment.Hashbang */
pre code .cm {
  color: #68678c;
} /* Comment.Multiline */
pre code .cp {
  color: #68678c;
} /* Comment.Preproc */
pre code .cpf {
  color: #68678c;
} /* Comment.PreprocFile */
pre code .c1 {
  color: #68678c;
} /* Comment.Single */
pre code .cs {
  color: #cd0000;
  font-weight: bold;
} /* Comment.Special */
pre code .gd {
  color: #cd0000;
} /* Generic.Deleted */
pre code .ge {
  color: #cccccc;
  font-style: italic;
} /* Generic.Emph */
pre code .gr {
  color: #ff0000;
} /* Generic.Error */
pre code .gh {
  color: #68678c;
  font-weight: bold;
} /* Generic.Heading */
pre code .gi {
  color: #00cd00;
} /* Generic.Inserted */
pre code .go {
  color: #888888;
} /* Generic.Output */
pre code .gp {
  color: #68678c;
  font-weight: bold;
} /* Generic.Prompt */
pre code .gs {
  color: #cccccc;
  font-weight: bold;
} /* Generic.Strong */
pre code .gu {
  color: #800080;
  font-weight: bold;
} /* Generic.Subheading */
pre code .gt {
  color: #0044dd;
} /* Generic.Traceback */
pre code .kc {
  color: #cdcd00;
} /* Keyword.Constant */
pre code .kd {
  color: #00cd00;
} /* Keyword.Declaration */
pre code .kn {
  color: #dc59ffd;
} /* Keyword.Namespace */
pre code .kp {
  color: #cdcd00;
} /* Keyword.Pseudo */
pre code .kr {
  color: #cdcd00;
} /* Keyword.Reserved */
pre code .kt {
  color: #00cd00;
} /* Keyword.Type */
pre code .ld {
  color: #cccccc;
} /* Literal.Date */
pre code .m {
  color: #dc59ff;
} /* Literal.Number */
pre code .s {
  color: #f9c64e;
} /* Literal.String */
pre code .na {
  color: #cccccc;
} /* Name.Attribute */
pre code .nb {
  color: #dc59ffd;
} /* Name.Builtin */
pre code .nc {
  color: #00cdcd;
} /* Name.Class */
pre code .no {
  color: #cccccc;
} /* Name.Constant */
pre code .nd {
  color: #cccccc;
} /* Name.Decorator */
pre code .ni {
  color: #cccccc;
} /* Name.Entity */
pre code .ne {
  color: #666699;
  font-weight: bold;
} /* Name.Exception */
pre code .nf {
  color: #00d753;
} /* Name.Function */
pre code .nl {
  color: #cccccc;
} /* Name.Label */
pre code .nn {
  color: #cccccc;
} /* Name.Namespace */
pre code .nx {
  color: #cccccc;
} /* Name.Other */
pre code .py {
  color: #cccccc;
} /* Name.Property */
pre code .nt {
  color: #cccccc;
} /* Name.Tag */
pre code .nv {
  color: #00cd00;
} /* Name.Variable */
pre code .ow {
  color: #cdcd00;
} /* Operator.Word */
pre code .w {
  color: #cccccc;
} /* Text.Whitespace */
pre code .mb {
  color: #dc59ffd;
} /* Literal.Number.Bin */
pre code .mf {
  color: #dc59ffd;
} /* Literal.Number.Float */
pre code .mh {
  color: #dc59ffd;
} /* Literal.Number.Hex */
pre code .mi {
  color: #dc59ffd;
} /* Literal.Number.Integer */
pre code .mo {
  color: #dc59ffd;
} /* Literal.Number.Oct */
pre code .sa {
  color: #cd0000;
} /* Literal.String.Affix */
pre code .sb {
  color: #cd0000;
} /* Literal.String.Backtick */
pre code .sc {
  color: #cd0000;
} /* Literal.String.Char */
pre code .dl {
  color: #cd0000;
} /* Literal.String.Delimiter */
pre code .sd {
  color: #cd0000;
} /* Literal.String.Doc */
pre code .s2 {
  color: #cd0000;
} /* Literal.String.Double */
pre code .se {
  color: #cd0000;
} /* Literal.String.Escape */
pre code .sh {
  color: #cd0000;
} /* Literal.String.Heredoc */
pre code .si {
  color: #cd0000;
} /* Literal.String.Interpol */
pre code .sx {
  color: #cd0000;
} /* Literal.String.Other */
pre code .sr {
  color: #cd0000;
} /* Literal.String.Regex */
pre code .s1 {
  color: #cd0000;
} /* Literal.String.Single */
pre code .ss {
  color: #cd0000;
} /* Literal.String.Symbol */
pre code .bp {
  color: #dc59ffd;
} /* Name.Builtin.Pseudo */
pre code .fm {
  color: #cccccc;
} /* Name.Function.Magic */
pre code .vc {
  color: #00cdcd;
} /* Name.Variable.Class */
pre code .vg {
  color: #00cdcd;
} /* Name.Variable.Global */
pre code .vi {
  color: #00cdcd;
} /* Name.Variable.Instance */
pre code .vm {
  color: #00cdcd;
} /* Name.Variable.Magic */
pre code .il {
  color: #dc59ffd;
} /* Literal.Number.Integer.Long */
