<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ page.description }}" />
    <link rel="stylesheet" href="/css/fonts.css" media="all" />
    <style type="text/css">
      {% capture include_to_scssify %}{% include styles.scss %}{% endcapture %}{{ include_to_scssify | scssify }}
    </style>
    <link rel="canonical" href="{{ site.url }}{{ page.permalink }}" />
    <title>Exegete.io | {{ page.title }}</title>
  </head>

  <body class="{{ page.class }}">
    {% include header.html %}
    <main>
      <h1>{{ page.title }}</h1>
      <p>Below is a list of micro-blogs tagged with "{{ page.title }}".</p>
      <ul class="posts">
        {% for post in page.posts %}
        <li>
          <a class="post-link" href="{{ post.url | relative_url  }}"
            >{{ post.title }}</a
          >
          &mdash;
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        </li>
        {% endfor %}
      </ul>
    </main>
    {% include footer.html %}
  </body>
</html>
